/*	light blue #e3f2f4; 
	teal #c3d4d0
*/
body {
	background-color: #fff;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	overflow-x: hidden;
	word-spacing: 5px;
}
header {
	background-color: #fff;
	text-transform: uppercase;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 999;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
header.smaller {
	background-color: #fff;
	position: relative;
    height: 50px;
}
header #mylogo {	/* logo on standard pages */
	height: 300px;
	padding-top: 10px;
	position: fixed;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header.smaller #mylogo {	/* mobile/minimal logo on standard pages */
	float: left;
    height: 75px;
    line-height: 75px;
    padding-left: 10px;
}
/* HOMEPAGE
#name-header {
	margin-top: -20px;
}
#home-logo {	/* huge logo for homepage 
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.smaller #home-logo {
	float: left;
    height: 75px;
    line-height: 75px;
    padding-left: 10px;
}
.homepage {
	padding-bottom: 100px;
	background-color: #eee;
	text-transform: uppercase;
} */

@media all and (max-width: 767px) {
    header #mylogo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 120px;
        line-height: 100px;
        text-align: center;
    }
    header.smaller {
        height: 50px;
    }
    header.smaller #mylogo {
    	float: left;
        height: 50px;
        line-height: 50px;
        font-size: 30px;
    }
    header > button {
    	margin-top: 20px;
    	margin-right: 20px;
    }
    .nav li > a{
    	text-align: right;
    	margin-left: 60%;
	}
}
footer {
	margin: 50px;
}

.phone-img {
	height: 400px;
	margin: 25px 0px;
}

.myo-img {
	width: 500px;
	margin: 25px 50px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
     display: block;
     width: 100%;
     height: auto;
}

#carousel-hangout {
	width: 40%;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
}

#carousel-myo {
	width: 70%;
	height: 70%;
	margin-left: auto;
	margin-right: auto;
}

.project-content {
	padding-top: 20px;
	padding-bottom: 20px;
}

#profile-photo {
	margin-top: 50px;
	width: 40%;
}

/* PAGE CONTENT SPACING */
.content {
	margin-top: 10%;
}
.contact-content {
	padding: 50px 100px;
}

/* NAV BAR */
.menu-link {
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 10%;
}
.menu-link a {
	color: #000;
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}