body {
	background-color: #e3f2f4;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	word-spacing: 5px;
}

.header {
	background-color: #c3d4d0;
	text-transform: uppercase;
}

.menu-link {
	font-weight: 700;
	text-transform: uppercase;
}

.menu-link a {
	color: #fff;
}

.dark-container {
	background-color: #000;
	color: #fff;
}

.page-header-dark {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
}

.bottom-container {
	margin-bottom: -50px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
     display: block;
     width: 100%;
     height: auto;
}

#carousel-hangout {
	width: 30%;
	height: 30%;
	margin-left: auto;
	margin-right: auto;
}

#carousel-myo {
	width: 50%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}

.project-content {
	padding-top: 20px;
	padding-bottom: 20px;
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}